body{
    text-align: center;
    
}
.wlcomePage{
   
    height: 100vh;
    width: 100wh;
    background-image: url("https://i.ytimg.com/vi/qPbS_mBFAkg/hq720.jpg?sqp=-oaymwEXCK4FEIIDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCYI4rPgEZLOkjyDcB_E7rUK7UEPg");
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    
   
}
.forGame{
    width: 20%;
}
#startBtn{
    align-self:center;
    width: 20%;
    margin-top: 40px;
   
}
.inpName{
    width: 30%;
    align-self:center;
    
}
.nameAndStart{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.countainer{
    height: 100vh;
   
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: "header" "main" "footer";
    display: none;
    
    
 

}
#header{
    background-color: aqua;
    grid-area: header;
    

}
#main{
    background-color: blue;
    grid-area: main;
}
#footer{
background-color: brown;
grid-area: footer;
}
.subHeader{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:row;
    height: 70px;
}
#title{
    justify-self: center;
}
#name{
  
    padding-right: 20px;
    
}
#btnHeader{
    padding-left: 20px;
    margin-left: 20px;
}
.subFooter{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:row;
    height: 70px;
}
#btnMusic{
    padding-left: 20px;
    margin-left: 20px;
}
#pages{
    justify-self: center;
}
#btnHelp{
padding-right: 20px;
margin-right: 20px;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  padding: 20px;
  box-sizing: border-box;
  
 
  
}
.question {
    margin-bottom: 30px;
    text-align: center;
  }
  .answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
  }
  .answer {
    padding: 10px 20px;
    font-size: 16px;
   
  }
  .next-button {
    margin-top: 40px;
    
  }
  #btnNext{
    font-size: 25px;
    width: 150px;
  }
  .finished{
    display: none;
    background-image: url("https://t4.ftcdn.net/jpg/02/24/03/21/360_F_224032170_7PfrDJYWjCw4Rs1WFvhPkiSPuD02sw1q.jpg") ;
    text-align: center;
    
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#last{
    margin-top: 20px;
}
#cong{
    padding-top: 200px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
.forGame{
    width: 35%;
}