body{
    text-align: center;
    
}
.wlcomePage{
   
    height: 100vh;
    width: 100wh;
    background-image: url("https://i.ytimg.com/vi/qPbS_mBFAkg/hq720.jpg?sqp=-oaymwEXCK4FEIIDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCYI4rPgEZLOkjyDcB_E7rUK7UEPg");
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
  
   
}

#startBtn{
    align-self:center;
    width: 20%;
    margin-top: 30px;
    height: 40px;
    background-color:rgb(99, 118, 239);;
   
}
.inpName{
    
    width: 100%;
    max-width: 400px;
    padding: 12px;
    font-size: 16px;
    background: transparent;  
    border: none;  
    border-bottom: 2px solid #ccc;  
    color: #333;
    outline: none;
    transition: all 0.3s ease;
    align-self:center;
   
}

.nameAndStart{
   
    display: flex;
    flex-direction: column;
}

.countainer{
    height: 100vh;
   
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: "header" "main" "footer";
    display: none;
    background: rgba(0,0,0,0.5)
    
    
 

}
#header{
    background-color: #3778bf;
    grid-area: header;
   
    background-color: #2e5ea1;

}

#main{
    
    grid-area: main;
   /* background-image: url("https://i.pinimg.com/474x/f9/3c/a8/f93ca855641d806be33db15a86be464c.jpg");*/
   background: linear-gradient(135deg, #3778bf, #5a9bd4);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#footer{
   
grid-area: footer;
background-color: #2e5ea1;
}
.subHeader{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:row;
    height: 70px;
}
#title{
    justify-self: center;
}
#name{
  
    padding-right: 20px;
    
}
#btnHeader{
    padding-left: 20px;
    margin-left: 20px;
}
.subFooter{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:row;
    height: 70px;
}
#btnMusic{
    padding-left: 20px;
    margin-left: 20px;
}
#pages{
    justify-self: center;
}
#btnHelp{
padding-right: 20px;
margin-right: 20px;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  padding: 20px;
  box-sizing: border-box;
  
 
  
}
.question {
    margin-bottom: 30px;
    text-align: center;
  }
  .answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    
  }
  .answer {
    padding: 10px 20px;
    font-size: 16px;
   
  }
  .next-button {
    margin-top: 40px;
    
    
  }
  #btnNext{
    font-size: 25px;
    width: 150px;
    background-color: #4558aa; /* Green */
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .finished{
    display: none;
    background-image: url("https://t4.ftcdn.net/jpg/02/24/03/21/360_F_224032170_7PfrDJYWjCw4Rs1WFvhPkiSPuD02sw1q.jpg") ;
    text-align: center;
    
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#last{
    margin-top: 20px;
}
#cong{
    padding-top: 200px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
.forGame{
   align-self: center;
}
li {
    text-indent: -5px;
}
.list{
   
    background-color: rgba(245, 245, 245, 0.422);;  
    padding: 40px;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
    margin-left: 20px;
    
}
ul{
    list-style-position: inside;
    padding-left: 1em; 
    margin: 0;
}
li{
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: large;
}
 